#contact-info {
  font-size: .8em;
}

.job {
  background-color: #e9e5dc;
  border-radius: 25px;
  padding: 8px;
  margin-top: 1%;
}

.job:hover {
  background-color: pink;
}

.list {
  font-size: .8em;
}

