#octopus{
  position: absolute;
  left: 50%;
  margin-left: -105px; /*half of the width*/
  margin-top: 80px;
  z-index: 1;
}

#hat {
  position: absolute;
  left: 50%;
  margin-left: -120px;
  margin-top: 15px;
  z-index: 2;
}

#glasses{
  position: absolute;
  left: 50%;
  margin-left: -60px;
  margin-top: 180px;
  z-index: 3;
}